.exchangeContainer {
  background-color: #bfd7b5;
  background-size: 100%;
  color: #413c58;
  margin: 15px auto;
  border-radius: 7px;
  padding: 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1050px;
}

.exchangeTextContainer {
  width: 40%;
}

.exchangeTextContainer > h1 {
  font-size: 38px;
  line-height: 140%;
  font-weight: bold;
}

.exchangeTextContainer > div {
  font-size: 16px;
  line-height: 26px;
  margin-top: 20px;
}

.exchangeInterfaceContainer {
  background: #a3c4bc;
  border-radius: 6px;
  width: 40%;
}

.buyContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 79px 46px;
}

@media (max-width: 768px) {
  .exchangeContainer {
    flex-direction: column;
    padding: 40px 0;
    border-radius: 0;
    margin-top: 0;
  }

  .exchangeInterfaceContainer {
    width: 100%;
    margin-top: 30px;
    border-radius: 0;
  }

  .exchangeTextContainer {
    padding: 0 20px;
    width: auto;
  }

  .buyContainer > * {
    display: inline-block;
  }

  .exchangeInterfaceContainer input, select, button {
    border-radius: 0;
    padding: 15px 10px;
  }

  .buttonsContainer {
    display: none;
  }
}
