.contactContainer {
  background-color: #a3c4bc;
  max-width: 710px;
  padding: 15px 30px;
  margin: 25px auto;
  border-radius: 4px;
  margin-top: 30px;
  line-height: 28px;
}

textarea {
  height: 130px;
}

.contactContainer input, button {
  width: 45%;
}

@media (max-width: 768px) {
  .contactContainer input, button {
    width: 100%;
  }
}

.contactUsInputsSection {
  padding: 25px 0;
}
